@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 13% 7%;
        --background-light: 240 11% 11%;
        --foreground: 240 18% 96%;

        --card: 240 11% 11%;
        --card-foreground: 240 18% 96%;
        --popover: 240 11% 11%;
        --popover-foreground: 240 18% 96%;

        --primary: 220 100% 65%;
        --primary-foreground: 240 13% 7%;
        --secondary: 220 80% 75%;
        --secondary-foreground: 240 13% 7%;
        --muted: 240 11% 14%;
        --muted-foreground: 240 14% 60%;
        --accent: 220 100% 65%;
        --accent-foreground: 240 18% 96%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 10% 18%;
        --input: 240 11% 14%;
        --ring: 220 100% 65%;
        --chart-1: 220 100% 65%;
        --chart-2: 220 80% 75%;
        --chart-3: 240 60% 55%;
        --chart-4: 260 65% 60%;
        --chart-5: 200 70% 55%;
    }
}

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        @apply border-border !cursor-none;
    }
    body {
        @apply bg-background text-foreground font-roboto-flex;
    }
}

@layer components {
    .grid {
        @apply gap-[25px];
    }

    .markdown-text ul {
        @apply pl-5 mt-2 list-disc;
    }
}
